# Chamber Lighting - HE2 Connector (Optional)
# [output_pin caselight]
# pin: PB0
# pwm:true
# shutdown_value: 0
# value:1
# cycle_time: 0.01

[neopixel caselight]
pin: PB0
chain_count: 76
color_order: BGR
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0
#   See the "led" section for information on these parameters.

[neopixel stealthlight]
pin: PB6
chain_count: 3
color_order: RGBW
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
initial_RED: 0.0
initial_GREEN: 1.0
initial_BLUE: 0.0
initial_WHITE: 0.5
#   See the "led" section for information on these parameters.

[gcode_macro SET_ALL_LEDS_PURPLE]
gcode:
    SET_LED LED="caselight" RED=0 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1
    SET_LED LED="caselight" RED=1 GREEN=0 BLUE=1 SYNC=0 TRANSMIT=1

[gcode_macro SET_ALL_LEDS_ON]
gcode:
    SET_LED LED="caselight" RED=0 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1
    SET_LED LED="caselight" RED=1 GREEN=1 BLUE=1 SYNC=0 TRANSMIT=1

[gcode_macro SET_ALL_LEDS_GREEN]
gcode:
    SET_LED LED="caselight" RED=0 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1
    SET_LED LED="caselight" RED=0 GREEN=1 BLUE=0 SYNC=0 TRANSMIT=1

[gcode_macro SET_ALL_LEDS_RED]
gcode:
    SET_LED LED="caselight" RED=0 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1
    SET_LED LED="caselight" RED=1 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1

[gcode_macro SET_ALL_LEDS_BLUE]
gcode:
    SET_LED LED="caselight" RED=0 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1
    SET_LED LED="caselight" RED=0 GREEN=0 BLUE=1 SYNC=0 TRANSMIT=1